.header {
	display: none;
}

	.header + .page-container {
		margin-top: 0;
		height: 100%;
		position: relative;
	}

.homepage {
	padding: 0;
	height: 100%;
}

	.homepage > .content {
		margin-left: 0 !important;
		position: relative;
		left: auto;
		height: 100%;
	}

	.homepage .widget {
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
		height: 100%;
		margin-bottom: 0;
		min-height: 0 !important;
	}

		.homepage .widget:last-child::after {
			display: none;
		}

.widget-header {
	display: none;
}

.widget-content {
	height: 100% !important;
	min-height: 0 !important;
}