body {
	background-color: #f0f0f0;
	overflow: hidden;
	height: 100%;
}

.modal {
	min-width: 350px;
}

.modal-content {
	max-width: 100%;
}

/* General Start */
.lm-truncate-text {
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.lm-white-space-normal {
	white-space: normal;
}

/* Float */
.lm-pull-right {
	float: right !important;
}

.lm-pull-left {
	float: left !important;
}

.lm-pull-none {
	float: none !important;
}

.lm-clear-both {
	clear: both !important;
}

.lm-clear-none {
	clear: none !important;
}

.lm-text-align-r {
	text-align: right !important;
}

.lm-text-align-l {
	text-align: left !important;
}

.lm-text-align-dir-l {
	text-align: left !important;
}

html[dir="rtl"] .lm-text-align-dir-l {
	text-align: right !important;
}

.lm-text-align-c {
	text-align: center !important;
}

/* Padding */
.lm-padding-zero {
	padding: 0 !important;
}

.lm-padding-zero-l {
	padding-left: 0 !important;
}

.lm-padding-zero-t {
	padding-top: 0 !important;
}

.lm-padding-zero-r {
	padding-right: 0 !important;
}

.lm-padding-zero-b {
	padding-bottom: 0 !important;
}

.lm-padding-sm {
	padding: 5px !important;
}

.lm-padding-sm-r {
	padding-right: 5px !important;
}

.lm-padding-sm-b {
	padding-bottom: 5px !important;
}

.lm-padding-sm-t {
	padding-top: 5px !important;
}

.lm-padding-sm-l {
	padding-left: 5px !important;
}

.lm-padding-md {
	padding: 10px !important;
}

.lm-padding-md-t {
	padding-top: 10px !important;
}

.lm-padding-md-r {
	padding-right: 10px !important;
}

.lm-padding-md-l {
	padding-left: 10px !important;
}

.lm-padding-md-b {
	padding-bottom: 10px !important;
}

.lm-padding-lg {
	padding: 15px !important;
}

.lm-padding-lg-b {
	padding-bottom: 15px !important;
}

.lm-padding-lg-t {
	padding-top: 15px !important;
}

.lm-padding-lg-l {
	padding-left: 15px !important;
}

.lm-padding-lg-r {
	padding-right: 15px !important;
}

.lm-padding-xl {
	padding: 20px !important;
}

.lm-padding-xl-t {
	padding-top: 20px !important;
}

.lm-padding-xl-l {
	padding-left: 20px !important;
}

.lm-padding-xl-r {
	padding-right: 20px !important;
}

.lm-padding-xl-b {
	padding-bottom: 20px !important;
}

/* Margin */
.lm-margin-zero {
	margin: 0 !important;
}

.lm-margin-zero-b {
	margin-bottom: 0 !important;
}

.lm-margin-zero-t {
	margin-top: 0 !important;
}

.lm-margin-zero-l {
	margin-left: 0 !important;
}

.lm-margin-zero-r {
	margin-right: 0 !important;
}

.lm-margin-sm {
	margin: 5px !important;
}

.lm-margin-sm-b {
	margin-bottom: 5px !important;
}

.lm-margin-sm-t {
	margin-top: 5px !important;
}

.lm-margin-sm-l {
	margin-left: 5px !important;
}

.lm-margin-sm-r {
	margin-right: 5px !important;
}

.lm-margin-sm-lr {
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.lm-margin-md {
	margin: 10px !important;
}

.lm-margin-md-t {
	margin-top: 10px !important;
}

.lm-margin-md-l {
	margin-left: 10px !important;
}

.lm-margin-md-r {
	margin-right: 10px !important;
}

.lm-margin-md-b {
	margin-bottom: 10px !important;
}

.lm-margin-lg {
	margin: 15px !important;
}

.lm-margin-lg-b {
	margin-bottom: 15px !important;
}

.lm-margin-lg-l {
	margin-left: 15px !important;
}

.lm-margin-lg-r {
	margin-right: 15px !important;
}

.lm-margin-lg-t {
	margin-top: 15px !important;
}

.lm-margin-xl {
	margin: 20px !important;
}

.lm-margin-xl-t {
	margin-top: 20px !important;
}

.lm-margin-xl-l {
	margin-left: 20px !important;
}

.lm-margin-xl-r {
	margin-right: 20px !important;
}

.lm-margin-xl-b {
	margin-bottom: 20px !important;
}

/* Directional dependent margins */
html:not([dir="rtl"]) .lm-margin-md-dir-l {
	margin-left: 10px !important;
}

html[dir="rtl"] .lm-margin-md-dir-l {
	margin-right: 10px !important;
}

html:not([dir="rtl"]) .lm-margin-auto-l {
	margin-left: auto;
}

html[dir="rtl"] .lm-margin-auto-l {
	margin-right: auto;
}

/* Height */
.lm-height-full {
	height: 100% !important;
}

.lm-height-sm {
	height: 5px !important;
}

.lm-height-md {
	height: 10px !important;
}

.lm-height-lg {
	height: 15px !important;
}

.lm-height-xl {
	height: 20px !important;
}

.lm-max-height-l {
	max-height: 200px !important;
}

.lm-max-height-xl {
	max-height: 350px !important;
}

.lm-max-height-xxl {
	max-height: 500px !important;
}

.lm-min-height-xl {
	min-height: 400px !important;
}

/* Width */
.lm-width-full {
	width: 100% !important;
}

.lm-width-auto {
	width: auto !important;
}

.lm-width-sm {
	width: 5px !important;
}

.lm-width-md {
	width: 10px !important;
}

.lm-width-lg {
	width: 15px !important;
}

.lm-width-xl {
	width: 20px !important;
}

.lm-max-width-l {
	max-width: 200px !important;
}

.lm-max-width-xl {
	max-width: 300px !important;
}

.lm-min-width-xl {
	min-width: 350px !important;
}

.lm-size-full {
	height: 100% !important;
	width: 100% !important;
}

/* Positioning */
.lm-position-a {
	position: absolute !important;
}

.lm-position-r {
	position: relative !important;
}

.lm-position-s {
	position: static !important;
}

.lm-position-md-r {
	right: 10px !important;
}

/* Overflow and Scroll */
.lm-scroll-no-y {
	overflow-y: hidden !important;
}

.lm-scroll-no-x {
	overflow-x: hidden !important;
}

.lm-scroll-auto {
	overflow: auto !important;
}

.lm-scroll-vert {
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

/* Text Align */
.lm-center-text {
	text-align: center !important;
}

.lm-left-text {
	text-align: left !important;
}

.lm-right-text {
	text-align: left !important;
}

/* Display */
.lm-display-block {
	display: block !important;
}

.lm-display-inline-block {
	display: inline-block !important;
}

.lm-display-inline {
	display: inline !important;
}

.lm-display-none {
	display: none !important;
}

.lm-display-flex {
	display: flex;
}

/* Offset */
.lm-left-zero {
	left: 0 !important;
}

.lm-right-zero {
	right: 0 !important;
}

.lm-top-zero {
	top: 0 !important;
}

.lm-bottom-zero {
	bottom: 0 !important;
}

/* Border */
.lm-border-none, .lm-no-border {
	border: none !important;
}

/* Buttons */
.lm-button-light {
	color: rgba(255, 255, 255, 0.7) !important;
}

	.lm-button-light:not([disabled]):hover, .lm-button-light:focus {
		color: white !important;
	}

	.lm-button-light:focus {
		box-shadow: 0 0 0 2px transparent, 0 0 0 1px #ffffff !important;
	}

	.lm-button-light .icon {
		fill: rgba(255, 255, 255, 0.7) !important;
	}

	.lm-button-light:not([disabled]):hover .icon, .lm-button-light:focus .icon {
		fill: white !important;
	}

.lm-button-light-more .more > button {
	color: rgba(255, 255, 255, 0.7) !important;
}

	.lm-button-light-more .more > button:not([disabled]):hover, .lm-button-light-more .more > button:focus {
		color: white !important;
	}

	.lm-button-light-more .more > button:focus {
		box-shadow: 0 0 0 2px transparent, 0 0 0 1px #ffffff !important;
	}

	.lm-button-light-more .more > button .icon {
		fill: rgba(255, 255, 255, 0.7) !important;
	}

	.lm-button-light-more .more > button:not([disabled]):hover .icon, .lm-button-light-more .more > button:focus .icon {
		fill: white !important;
	}

/* Various */
.lm-hide {
	visibility: hidden !important;
}

.lm-info-text {
	font-size: 12px;
}

.lm-info-text-md {
	font-size: 14px !important;
}

.lm-hashtag {
	margin-right: 5px;
	color: #078cd9;
	cursor: pointer;
}

.lm-tag-error.error-message {
	margin-top: -15px;
	width: auto;
}

.lm-autocomplete-secondary {
	font-size: 12px !important;
	font-style: italic;
	margin-top: -3px;
	margin-bottom: 5px;
	display: block;
}

li.is-focused .lm-autocomplete-secondary, li.is-selected .lm-autocomplete-secondary {
	color: inherit;
}

.lm-cursor-pointer {
	cursor: pointer !important;
}

.lm-cursor-default {
	cursor: default !important;
}

.lm-fill-absolute {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.lm-transparent {
	background-color: transparent !important;
}

.lm-italic-text {
	font-style: italic !important;
}

.lm-fontweight-bold {
	font-weight: bold !important;
}

.lm-color-grey {
	color: #666 !important;
}

.lm-text {
	white-space: pre-wrap;
}

.lm-opacity-zero {
	opacity: 0 !important;
}

.lm-tags-popover {
	max-width: 425px;
}

	/* Fix for LIME-2596, override display: none set by control */
	.lm-tags-popover:not(.is-hidden) > .tooltip-title {
		display: block !important;
	}

.lm-export-page-message-modal .a {
	font-size: 16px;
}

.lm-autocomplete-searchfield {
	padding-left: 35px;
}

.lm-autocomplete-searchfield.lm-clearable {
	padding-right: 35px;
}
/* General End */

.lm-compact-list.listview li {
	cursor: pointer;
	position: relative;
	padding: 5px 10px;
	overflow: hidden;
	height: 33px;
}

.lm-compact-list.listview .btn-icon {
	top: -2px;
	width: 25px;
	min-width: 25px;
	min-height: 25px;
	height: 25px;
	margin: 0;
}

.lm-compact-list.listview .l-pull-right .btn-icon {
	top: 27px;
}

.lm-compact-list.listview svg {
	margin-top: 0;
	top: 0;
}

.lm-compact-list.listview li p {
	font-size: 14px;
	font-size: 1.4rem;
	max-width: 85%;
	position: absolute;
	top: 7px;
}

.lm-compact-list.listview .listview-subheading {
	margin-right: 20px;
}

.lm-compact-list.listview .l-pull-right .days {
	top: 29px;
	position: relative;
	font-size: 15px;
	font-size: 1.5rem;
}

/* RTL SOHO overrides */
html[dir='rtl'] .searchfield-wrapper > :not(.close).icon {
	right: 8px;
}

html[dir='rtl'] .toolbar-searchfield-wrapper :empty.searchfield {
	padding-left: 0;
	padding-right: 34px;
}
